.modal-header {
    padding: 20px;
    .close {
        background: #dc3545;
        color: #fff;
        opacity: 1;
        border-radius: .3rem;
    }
}

.modal-body {
    .item-img {
        text-align: center;
    }
    form {
        .form-group {
            position: relative;
            label {
                margin-bottom: 0;
            }
            .form-control {
                padding-right: 32px;  
                &:disabled {
                    background: none;
                    border: none;
                    padding: 0;
                }
                &.ng-invalid.ng-dirty {
                    border-color: #dc3545;
                    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
                }
            }
            .clear-btn {
                position: absolute;
                top: 31px;
                right: 5px;
                background: none;
                border: none;
                outline: none;
                line-height: 0;
                padding: 0;
                cursor: pointer;
            }
        }
    }
}

.modal-footer {
    button {
        background: none;
        border: none;
        outline: none;
        margin: auto;
        width: 30%;
        &.edit-btn {
            background-color: #ffc107;
            border-radius: 5px;
        }
        &.done-btn {
            background-color: #28a745;
            color: #fff;
            border-radius: 5px;
        }
        .material-icons {
            font-size: 20px;
            line-height: 1.5;
            vertical-align: middle;
        }
        &:disabled {
            color: rgba(0, 0, 0, .26);
            background-color: rgba(0, 0, 0, .12);
            transform: translate3d(0, 0, 0);
            transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
            cursor: not-allowed;
        }
    }
}
